#calendario{
    margin-top:21px;
}

#cal_lis table{
    margin-top:30px;
    margin-right:auto;
    margin-left:auto;
    width: 98% !important;
    
}
#cal_esc table{
  left:45%;
  width:90%;
}
#l_table{
    margin-right:auto;
    margin-left:auto;
    width:55% !important;
    
}
table tr td {
  border-right: 1px solid ;
  color: black
}

table tr td:last-of-type {
  border: none;
}

  table tr {
    border-bottom: 1px solid;
    color: black
  }


  .meses, #leg{
    border-right: 1px solid;
    
  }
#leg{
  font-size:20px;
}
.cal-cab{
    border-right: 1px solid;
    border-bottom: 1px solid;
    color: black
}

